<h1>My accepted bookings</h1>
<% @bookings_accepted.each do |booking|%>
  <ul>
    <li><img src="<%= booking.watch.img_url %>"/></li>
    <li><%= link_to 'Watch name: ', watch_path(booking.watch) %><%=booking.watch.name%></li>
    <li>Belongs to: <%=booking.watch.user.name%></li>
    <li>Watch style: <%=booking.watch.style%></li>
    <li>Location: <%=booking.watch.location%></li>
    <li>Price per day: $<%=booking.watch.price%></li>
    <li>Booked: <%=booking.start_date%> to <%=booking.end_date%></li>
  </ul>
<% end %>

<h1>My pending bookings</h1>
<% @bookings_pending.each do |booking|%>
  <ul>
    <li><img src="<%= booking.watch.img_url %>"/></li>
    <li><%= link_to 'Watch name: ', watch_path(booking.watch) %><%=booking.watch.name%></li>
    <li>Belongs to: <%=booking.watch.user.name%></li>
    <li>Watch style: <%=booking.watch.style%></li>
    <li>Location: <%=booking.watch.location%></li>
    <li>Price per day: $<%=booking.watch.price%></li>
    <li>Booked: <%=booking.start_date%> to <%=booking.end_date%></li>
  </ul>
<% end %>

<h1>My rejected bookings</h1>
<% @bookings_rejected.each do |booking|%>
  <ul>
    <li><img src="<%= booking.watch.img_url %>"/></li>
    <li><%= link_to 'Watch name: ', watch_path(booking.watch) %><%=booking.watch.name%></li>
    <li>Booked by: <%=booking.watch.user.name%></li>
    <li>Watch style: <%=booking.watch.style%></li>
    <li>Location: <%=booking.watch.location%></li>
    <li>Price per day: $<%=booking.watch.price%></li>
    <li>Booked: <%=booking.start_date%> to <%=booking.end_date%></li>
  </ul>
<% end %>
