<h1 class="header-stretch text-center">My accepted bookings</h1>
<div class="card-container">
  <% @bookings_accepted.each do |booking| %>
  <div class="card-product">
    <p id="price">$<%= booking.watch.price %>/day</p>
    <% if booking.watch.img_url != nil %>
      <img src="<%= booking.watch.img_url %>">
    <% else %>
      <%= cl_image_tag booking.watch.photo.key %>
    <% end %>
    <div class="card-product-infos">
      <h2><%= link_to booking.watch.name, watch_path(booking.watch) %></h2>
      <p id="rating">
        <% if booking.watch.avg_rating == 1%>
          ★
        <% elsif booking.watch.avg_rating == 2%>
          ★★
        <% elsif booking.watch.avg_rating == 3%>
          ★★★
        <% elsif booking.watch.avg_rating == 4%>
          ★★★★
        <% elsif booking.watch.avg_rating == 5%>
          ★★★★★
        <% end%>
      </p>
      <p>Belongs to: <%= booking.watch.user.name %></p>
      <p>Watch style: <%= booking.watch.style %></p>
      <p>Location: <%= booking.watch.location %></p>
      <p>Booked: <%= booking.start_date %> to <%= booking.end_date %></p>
      <% unless policy(booking.watch).owner? %>
        <p id="review"><%= link_to "Review this watch", new_watch_review_path(booking.watch), class: "btn btn-light btn-sm" %></p>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

<h1 class="header-stretch text-center">My pending bookings</h1>
<div class="card-container">
  <% @bookings_pending.each do |booking| %>
  <div class="card-product">
    <p id="price">$<%= booking.watch.price %>/day</p>
    <% if booking.watch.img_url != nil %>
      <img src="<%= booking.watch.img_url %>">
    <% else %>
      <%= cl_image_tag booking.watch.photo.key %>
    <% end %>
    <div class="card-product-infos">
      <h2><%= link_to booking.watch.name, watch_path(booking.watch) %></h2>
      <p id="rating">
        <% if booking.watch.avg_rating == 1%>
          ★
        <% elsif booking.watch.avg_rating == 2%>
          ★★
        <% elsif booking.watch.avg_rating == 3%>
          ★★★
        <% elsif booking.watch.avg_rating == 4%>
          ★★★★
        <% elsif booking.watch.avg_rating == 5%>
          ★★★★★
        <% end%>
      </p>
      <p>Belongs to: <%= booking.watch.user.name %></p>
      <p>Watch style: <%= booking.watch.style %></p>
      <p>Location: <%= booking.watch.location %></p>
      <p>Requested: <%= booking.start_date %> to <%= booking.end_date %></p>
    </div>
  </div>
  <% end %>
</div>

<h1 class="header-stretch text-center">My rejected bookings</h1>
<div class="card-container my-rejected-bookings-container">
  <% @bookings_rejected.each do |booking| %>
  <div class="card-product">
    <p id="price">$<%= booking.watch.price %>/day</p>
    <% if booking.watch.img_url != nil %>
      <img src="<%= booking.watch.img_url %>">
    <% else %>
      <%= cl_image_tag booking.watch.photo.key %>
    <% end %>
    <div class="card-product-infos">
      <h2><%= link_to booking.watch.name, watch_path(booking.watch) %></h2>
      <p id="rating">
        <% if booking.watch.avg_rating == 1%>
          ★
        <% elsif booking.watch.avg_rating == 2%>
          ★★
        <% elsif booking.watch.avg_rating == 3%>
          ★★★
        <% elsif booking.watch.avg_rating == 4%>
          ★★★★
        <% elsif booking.watch.avg_rating == 5%>
          ★★★★★
        <% end%>
      </p>
      <p>Belongs to: <%= booking.watch.user.name %></p>
      <p>Watch style: <%= booking.watch.style %></p>
      <p>Location: <%= booking.watch.location %></p>
      <p>Requested: <%= booking.start_date %> to <%= booking.end_date %></p>
    </div>
  </div>
  <% end %>
</div>
