<h1>My accepted bookings</h1>
<% @my_watches_bookings_accepted.each do |booking|%>
  <ul>
    <li><img src="<%= booking.watch.img_url %>"/></li>
    <li><%= link_to 'Watch name: ', watch_path(booking.watch) %><%=booking.watch.name%></li>
    <li>Booked by: <%=booking.user.name%></li>
    <li>Watch style: <%=booking.watch.style%></li>
    <li>Location: <%=booking.watch.location%></li>
    <li>Price per day: $<%=booking.watch.price%></li>
    <li>Booked: <%=booking.start_date%> to <%=booking.end_date%></li>
  </ul>
<% end %>

<h1>My pending bookings</h1>
<% @my_watches_bookings_pending.each do |booking|%>
  <ul>
    <li><img src="<%= booking.watch.img_url %>"/></li>
    <li><%= link_to 'Watch name: ', watch_path(booking.watch) %><%=booking.watch.name%></li>
    <li>Requested by: <%=booking.user.name%></li>
    <li>Watch style: <%=booking.watch.style%></li>
    <li>Location: <%=booking.watch.location%></li>
    <li>Price per day: $<%=booking.watch.price%></li>
    <li>Booked: <%=booking.start_date%> to <%=booking.end_date%></li>
    <%= link_to 'Accept', accept_booking_path(booking) %>
    <%= link_to 'Reject', reject_booking_path(booking) %>
  </ul>
<% end %>

<h1>My vacant listings</h1>
<% @remaining_watches.each do |watch|%>
  <ul>
    <li><img src="<%= watch.img_url %>"/></li>
    <li><%= link_to 'Watch name: ', watch_path(watch) %><%=watch.name%></li>
    <li>Watch style: <%=watch.style%></li>
    <li>Location: <%=watch.location%></li>
    <li>Price per day: $<%=watch.price%></li>
  </ul>
<% end %>
