<h1 class="header-stretch">My accepted bookings</h1>
<div class="card-container">
  <% @my_watches_bookings_accepted.each do |booking|%>
  <div class="card-product">
    <p id="price">$<%= booking.watch.price %>/day</p>
    <% if booking.watch.img_url != nil %>
      <img src="<%= booking.watch.img_url %>">
    <% else %>
      <%= cl_image_tag booking.watch.photo.key %>
    <% end %>
    <div class="card-product-infos">
      <h2><%= link_to booking.watch.name, watch_path(booking.watch) %></h2>
      <p id="rating"><%= booking.watch.avg_rating %></p>
      <p>Belongs to: <%= booking.watch.user.name %></p>
      <p>Watch style: <%= booking.watch.style %></p>
      <p>Location: <%= booking.watch.location %></p>
      <p>Booked: <%= booking.start_date %> to <%= booking.end_date %></p>
    </div>
  </div>
  <% end %>
</div>

<h1 class="header-stretch">My pending bookings</h1>
<div class="card-container">
  <% @my_watches_bookings_pending.each do |booking| %>
  <div class="card-product">
    <p id="price">$<%= booking.watch.price %>/day</p>
    <% if booking.watch.img_url != nil %>
      <img src="<%= booking.watch.img_url %>">
    <% else %>
      <%= cl_image_tag booking.watch.photo.key %>
    <% end %>
    <div class="card-product-infos">
      <h2><%= link_to booking.watch.name, watch_path(booking.watch) %></h2>
      <p id="rating"><%= booking.watch.avg_rating %></p>
      <p>Belongs to: <%= booking.watch.user.name %></p>
      <p>Watch style: <%= booking.watch.style %></p>
      <p>Location: <%= booking.watch.location %></p>
      <p>Requested: <%= booking.start_date %> to <%= booking.end_date %></p>
      <p> <%= link_to 'Accept', accept_booking_path(booking), class: "btn btn-secondary btn-sm mr-2" %>
      <%= link_to 'Reject', reject_booking_path(booking), class: "btn btn-warning btn-sm" %></p>
    </div>
  </div>
  <% end %>
</div>

<h1 class="header-stretch">My vacant listings</h1>
<div class="card-container">
  <% @remaining_watches.each do |watch|%>
  <div class="card-product">
    <p id="price">$<%= watch.price %>/day</p>
    <% if watch.img_url != nil %>
      <img src="<%= watch.img_url %>">
    <% else %>
      <%= cl_image_tag watch.photo.key %>
    <% end %>
    <div class="card-product-infos">
      <h2><%= link_to watch.name, watch_path(watch) %></h2>
      <p id="rating"><%= watch.avg_rating %></p>
      <p>Watch style: <%= watch.style %></p>
      <p>Location: <%= watch.location %></p>
    </div>
  </div>
  <% end %>
</div>
