<%= @watches.each do |watch| %>
<div class="cards">
  <img src=<%= watch.img_url %>/>
  <div class="card-trip-infos">
    <div>
      <h2><%= watch.name %></h2>
      <p><%= watch.style %></p>
      <p><%= watch.location %></p>
    </div>
    <h2 class="card-trip-pricing">$<%= watch.price %>/day</h2>
  </div>
</div>
<% end %>
