<p id="notice"><%= notice %></p>

<div>
  <img src="<%= @watch.img_url %>">
</div>

<p> Name: <%= @watch.name %> </p>
<p> User: <%= @watch.user_id %> </p>
<p> style: <%= @watch.style %> </p>
<p> location: <%= @watch.location %> </p>
<p> price: <%= @watch.price %> </p>
<img href="<% @watch.img_url %>"/>

<% if policy(@watch).edit? %>
<p><%= link_to 'Edit', edit_watch_path(@watch) %></p>
<% end %>

<% unless policy(@watch).owner? %>
  <%# don't forget to update watches_path %>
  <p><%= link_to 'Borrow this watch', new_watch_booking_path(@watch) %></p>
<% end %>

<% if policy(@watch).destroy? %>
  <p><%= link_to 'Delete', watch_path(@watch), method: :delete %></p>
<% end %>

<p><%= link_to 'Back', watches_path %></p>
